@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}
/* External css for Header section */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background: white;
  box-shadow: 0px 0.3125rem 0.3125rem gray;
  z-index: 1;
}

.header .nav-items a{
    font-size: 1.125rem;
    margin: 0px 1rem;
    color: black;
    font-weight: 500;
}

.header .nav-items a:hover{
    color: royalblue;
}

.header .icons div{
  height: 1.875rem;
  width: 1.875rem;
  line-height: 1.875rem;
  border-radius: 0.4375rem;
  background: gainsboro;
  font-size: 1.25rem;
  margin-right: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover{
  background-color: royalblue;
  color: white;
}

/* External css for search modal */
.header .search-form{
  position: absolute;
  top: 110%;
  right: -110%;
  width: 25rem;
  height: 3.125rem;
  background: white;
  border-radius: 0.4375rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0px 0.3125rem 0.3125rem gray;
}

.header .search-form.active{
  right: 1.875rem;
  transition: .3s linear;
}

.header .search-form input{
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.0625rem;
  font-weight: 300;
  padding: 0.9375rem;
}

.header .search-form label{
  font-size: 1.0625rem;
  padding-right: 0.9375rem;
  cursor: pointer;
}

.header .search-form label:hover{
  color: royalblue;
}

/* External css for button */
.header .button{
  margin-top: 0.3125rem;
  border: none;
  display: inline-block;
  padding: 0.33rem;
  border-radius: 0.4375rem;
  cursor: pointer;
  background: none;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.button:hover{
  background-color: royalblue;
  color: white;
}

/* External css for login modal */
.header .login-form{
  position: absolute;
  top: 110%;
  right: -110%;
  box-shadow: 0px 0.3125rem 0.3125rem gray;
  padding: 0.3125rem;
  border-radius: 0.4375rem;
  background-color: white;
  text-align: center;
}

.header .login-form.active{
  right: 1.875rem;
  transition: .3s linear;
}

.header .login-form h3{
  font-size: 1.125rem;
  font-weight: 500;
}

.header .login-form .box{
  width: 90%;
  margin: 0.6875rem;
  background: gainsboro;
  border-radius: 0.4375rem;
  padding: 0.3125rem;
  font-size: 1rem;
  color: black;
  text-transform: none;
}

.header .login-form p{
  font-size: 0.875rem;
  padding: 0.3125rem;
}

.header .login-form p a{
  color: royalblue;
  text-decoration: underline;
}
#cart-button {
  position: relative;
 
}

#cart-count {
  position: absolute;
  top: -0.8rem; 
  right: -0.4rem; 
  color: white;
  background: red;
  border-radius: 50%;
  padding: 0.1rem 0.3rem; 
  font-size: 0.8rem; 
  font-weight: bold; 
  line-height: 1; 
  display: flex;
  align-items: center;
  justify-content:center;
}


/* External css for Footer Section */
.footer {
  background: white;
  padding: 2.5rem 1.25rem;
  box-shadow: 0px -0.3125rem 0.3125rem gray;
  
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}

.footer-section {
  flex: 1 1 12.5rem;
  text-align: center;
  margin: 0.625rem 0;
}

.footer-section h3 {
  color: royalblue;
  margin-bottom: 0.9375rem;
}

.footer-section a {
  display: block;
  color: black;
  margin: 0.3125rem 0;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: royalblue;
}

.footer-section p {
  color: black;
  margin: 0.3125rem 0;
}

/* External css for Social Media Links */
.social-icon {
  font-size: 1.25rem;
  margin: 0 0.625rem;
  color: royalblue;
  text-decoration: none;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* External css for Copyright Infornamtion Section*/
.footer-copy {
  font-size: 1rem;
  text-align: center;
  color: black;
  margin-top: 1.25rem;
}
